html {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.scene {
    font-family: -apple-system, Roboto, sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: #b2bec3;
    font-size: .8rem;
    bottom: 5%;
    right: 5%;
}

.controls {
    position: absolute;
    right: 30px;
    top: 30px;

    label {
        user-select: none;

        input {
            margin-right: 5px;
        }
    }
}