@font-face {
    font-family: PixelcomMedium;
    src: url("./fonts/Pixelcom-Medium.woff") format("woff"),
         url("./fonts/Pixelcom-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: PixelcomMediumW2;
    src: url("./fonts/Pixelcom-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: NeueMachinaMediumWoff;
    src: url("./fonts/NeueMachina-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: NeueMachinaRegularWoff;
    src: url("./fonts/NeueMachina-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: NeueMachinaMediumTtf;
    src: url("./fonts/NeueMachina-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: NeueMachinaRegularTtf;
    src: url("./fonts/NeueMachina-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: NEWPixelcomMediumWoff;
    src: url("./fonts/new/Pixelcom-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: NEWPixelcomMediumWoff2;
    src: url("./fonts/new/Pixelcom-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: NEWFIXPixelcomMediumWoff2;
    src: url("./fonts/fix/subset-NeueMachina-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: NEWFIXPixelcomMediumWoff;
    src: url("./fonts/fix/subset-NeueMachina-Medium.woff") format("woff");
    font-weight: 500;
}

html {
    font-family: PixelcomMedium, Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #b5c1c0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 10vh 5vw;
}

.spacer {
    margin-bottom: 1em;
}

.h-1 {
    font-size: calc(33px + 2vw);
}

.h-2 {
    font-size: calc(22px + 2vw);
}

.h-3 {
    font-size: calc(11px + 2vw);
}

.h-4 {
    font-size: calc(5px + 2vw);
}

.small {
    font-size: 11px;
}

.up {
    text-transform: uppercase;
}

.pxcom-woff2 {
    font-family: PixelcomMediumW2, sans-serif;
}

.medium-woff {
    font-family: NeueMachinaMediumWoff, sans-serif;
}

.medium-ttf {
    font-family: NeueMachinaMediumTtf, sans-serif;
}

.regular-woff {
    font-family: NeueMachinaRegularWoff, sans-serif;
}

.regular-ttf {
    font-family: NeueMachinaRegularTtf, sans-serif;
}

.pxcom-new-woff {
    font-family: NEWPixelcomMediumWoff, sans-serif;
}

.pxcom-new-woff2 {
    font-family: NEWPixelcomMediumWoff2, sans-serif;
}

.pxcom-new-fix-woff2 {
    font-family: NEWFIXPixelcomMediumWoff2, sans-serif;
}

.pxcom-new-fix-woff {
    font-family: NEWFIXPixelcomMediumWoff, sans-serif;
}