//:root {
//  --tp-base-background-color: hsla(0, 0%, 20%, 0.8);
//  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
//  --tp-button-background-color: hsla(0, 0%, 80%, 1);
//  --tp-button-background-color-active: hsla(0, 0%, 100%, 1);
//  --tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
//  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
//  --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
//  --tp-folder-background-color: hsla(0, 0%, 0%, 0);
//  --tp-folder-background-color-active: hsla(0, 0%, 0%, 0);
//  --tp-folder-background-color-focus: hsla(0, 0%, 0%, 0);
//  --tp-folder-background-color-hover: hsla(0, 0%, 0%, 0);
//  --tp-folder-foreground-color: hsla(0, 0%, 100%, 0.5);
//  --tp-input-background-color: hsla(0, 0%, 0%, 0.6);
//  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.9);
//  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.9);
//  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.9);
//  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
//  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
//  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
//  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
//  --tp-separator-color: hsla(0, 0%, 0%, 0.2);
//}

html {
  overflow: hidden;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  //background: #000;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 13px;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}


[data-pane] {
  width: 300px;
  position: absolute;
  top: 8px;
  left: 8px;
}