/*@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');*/

body {
    margin: calc(24px + 2.4vw);
}

h1 {
    font-family: 'Rajdhani', sans-serif;
}

.presets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(200px + 5vw), 1fr));
    gap: calc(12px + 1.2vw);
}

.preset {
    cursor: pointer;
}

.preset__img {
    width: 100%;
    aspect-ratio: 3 / 2;
}