html
    head
        link(rel='stylesheet' href='./index.scss')
    body
        #scene.scene
        .controls
            label
                input(type='checkbox' id='envMap' checked)
                |   Отражения
        script(src='./index.js')